.file-list{
	font-size: 14px;
}

.file-list-item{
	line-height: 150%;
}

.ng2-pagination{
	position: relative;
	padding-top: 40px !important;
}

.message{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100px;
	margin: 0 0 0 240px;
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	text-align: center;
	color: #646464;
	/*background: #eee;*/
}

.file-list-item:nth-last-child(1){
	list-style-type: none;
}


