<div class="is-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<ul class="file-list" *ngFor="let file of (fileList | async | search:term:selectedYear:selectedMonth| paginate: { itemsPerPage: 30, currentPage: page }); #first = first;  #last = last">


<div *ngIf="first && last">No results found.</div>


	<li class="file-list-item" > 
		<a target="_blank" href="{{file.filePath | fixUrl}}">{{file.label}}</a> <span>{{file.fileSize}}</span>
	</li>
</ul>


<div class="is-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>